<div class="container mt-5">
    <h1 class="text-center mb-4">Policy Operations</h1>
    <h4 class="text-center mb-4">All your Policy Accounts can be managed here.</h4>

    <div *ngIf="successMessage" class="alert alert-success text-center">
      {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger text-center">
      {{ errorMessage }}
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Policy Plan</th>
          <th>Coverage Amount</th>
          <th>Total Amount paid</th>
          <th>Policy Term</th>
          <th>Installment Type</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Status</th>
          <th>Approval</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let policy of policyAccounts">
          <td>{{ policy.policyName }}</td>
          <td>{{ policy.coverageAmount }}</td>
          <td>{{ policy.totalAmountPaid }}</td>
          <td>{{ policy.policyTerm }}</td>
          <td>{{ policy.installmentType }}</td>
          <td>{{policy.startDate | date}}</td>
          <td>{{policy.endDate | date}}</td>
          <td>{{ policy.status }}</td>
          <td>{{policy.isApproved}}</td>
          <td>
            <button
              class="btn btn-primary mr-3"
              (click)="payInstallment(policy.id,policy.policyName)"
              [disabled]="isDisable(policy)"
            >
              Pay Installment
            </button>

            <button
              class="btn btn-danger"
              (click)="cancelPolicy(policy.id)"
              [disabled]="isDisable(policy)"
            >
              Cancel Policy
            </button>

            <button
              class="btn btn-warning"
              (click)="claimPolicy(policy.id)"
              [disabled]="isDisable(policy)"
            >
              Claim Policy
            </button>
            <button
            class="btn btn-info"
            (click)="manageDocuments(policy.id)"
          >
            Manage Documents
          </button>

          <button
              class="btn btn-primary"
              (click)="addNominee(policy.id)"
              [disabled]="isDisable(policy)"
            >
              Add Nominee
            </button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
