<!-- <div class="container mt-5">
    <h1 class="text-center mb-4">Update Policy Account Document</h1>
  
    <div *ngIf="successMessage" class="alert alert-success text-center">
      {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger text-center">
      {{ errorMessage }}
    </div>
  
    <form [formGroup]="updateDocumentForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="fileInput" class="form-label">Upload New Document</label>
        <input
          type="file"
          id="fileInput"
          class="form-control"
          (change)="onFileSelect($event)"
          accept=".jpg,.jpeg,.png,.gif,.bmp"
        />
        <div *ngIf="fileError" class="text-danger">{{ fileError }}</div>
      </div>
  
      <button
        type="submit"
        class="btn btn-primary w-100 mt-3"
        [disabled]="updateDocumentForm.invalid"
      >
        Update Document
      </button>
    </form>
  </div>
   -->