<div class="container py-5">

    <h2 class="text-center mb-4">Welcome, {{ user?.username }}</h2>
  
    <div class="card mx-auto" style="max-width: 500px;">
      <div class="card-body">
        <h4 class="card-title text-center mb-4">Update Password</h4>
        <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">

          <div class="form-group mb-3">
            <label for="oldPassword">Old Password <span class="text-danger">*</span>:</label>
            <input
              type="password"
              id="oldPassword"
              class="form-control"
              formControlName="oldPassword"
              placeholder="Enter your current password"
            />
            <div
              *ngIf="
                updatePasswordForm.get('oldPassword')?.invalid &&
                updatePasswordForm.get('oldPassword')?.touched
              "
              class="text-danger"
            >
              Old password is required and must be at least 6 characters long.
            </div>
          </div>
  
          <div class="form-group mb-3">
            <label for="newPassword">New Password <span class="text-danger">*</span>:</label>
            <input
              type="password"
              id="newPassword"
              class="form-control"
              formControlName="newPassword"
              placeholder="Enter your new password"
            />
            <div
              *ngIf="
                updatePasswordForm.get('newPassword')?.invalid &&
                updatePasswordForm.get('newPassword')?.touched
              "
              class="text-danger"
            >
              New password is required and must be at least 6 characters long.
            </div>
          </div>
  
          <button
            type="submit"
            class="btn btn-primary w-100"
            [disabled]="updatePasswordForm.invalid"
          >
            Update Password
          </button>
        </form>
      </div>
    </div>
  </div>
  