<div class="container mt-5">
    <h2>Approve Customers</h2>

    <div class="mb-3">
        <label for="searchInput" class="form-label">Search</label>
        <input
          type="text"
          id="searchInput"
          class="form-control"
          [(ngModel)]="searchText"
          (input)="onInput($event)"
          placeholder="Search by Customer Name, City, State or Approval"
        />
      </div>
    
  
    <div *ngIf="customers.length > 0; else noCustomers">
        <table class="table table-bordered table-striped mt-3">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Sr. No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date of Birth</th>
                    <th scope="col">Mobile Number</th>
                    <th scope="col">Email</th>
                    <th scope="col">State</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ customer.firstName }} {{ customer.lastName }}</td>
                    <td>{{ customer.dateOfBirth | date}}</td>
                    <td>{{ customer.mobileNo }}</td>
                    <td>{{ customer.emailId }}</td>
                    <td>{{ customer.state }}</td>
                    <td>
                        <button
                            class="btn btn-success btn-sm mx-2"
                            (click)="viewReport(customer.customerId)"
                        >
                            View report
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <nav *ngIf="totalPages > 1" aria-label="Page navigation" class="d-flex justify-content-center mt-3">
        <ul class="pagination">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <button class="page-link" (click)="changePage(currentPage - 1)">Previous</button>
          </li>
          <li
            class="page-item"
            *ngFor="let page of [].constructor(totalPages); let idx = index"
            [class.active]="currentPage === idx + 1"
          >
            <button class="page-link" (click)="changePage(idx + 1)">{{ idx + 1 }}</button>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <button class="page-link" (click)="changePage(currentPage + 1)">Next</button>
          </li>
        </ul>
      </nav>
  
    <ng-template #noCustomers>
        <p class="text-center">No customers available.</p>
    </ng-template>
</div>
    