<div class="container py-5">
    <h2 class="text-center mb-4">Add Policy Type</h2>
    <form [formGroup]="addPolicyTypeForm" (ngSubmit)="onSubmit()">
      <div class="form-group mb-3">
        <label for="type">Policy Type <span class="text-danger">*</span>:</label>
        <input type="text" id="type" class="form-control" formControlName="type" />
        <div *ngIf="addPolicyTypeForm.get('type')?.touched && addPolicyTypeForm.get('type')?.invalid" class="text-danger">
          Policy type is required.
        </div>
      </div>
      <button class="btn btn-primary w-100" type="submit" [disabled]="addPolicyTypeForm.invalid">Add Policy Type</button>
    </form>
</div>
  