<div class="container">
    <h3>Register Username and Password</h3>
    <form [formGroup]="usernamePasswordForm" (ngSubmit)="registerUsernamePassword()">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" id="username" class="form-control" formControlName="username" required />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" class="form-control" formControlName="password" required />
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
  