<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-sm" style="width: 100%; max-width: 400px;">
      <h1 class="text-center mb-4">Update Password</h1>
      <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">
        <div>
          <label for="newPassword">New Password</label>
          <input id="newPassword" type="password" formControlName="newPassword" />
        </div>
        <div>
          <label for="confirmPassword">Confirm Password</label>
          <input id="confirmPassword" type="password" formControlName="confirmPassword" />
        </div>
        <button type="submit">Update Password</button>
      </form>
      
    </div>
</div>
  

