<div class="container py-5">
  <h2 class="text-center mb-4">Add Policy</h2>
  <form [formGroup]="addPolicyForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-3">
      <label for="name">Policy Scheme <span class="text-danger">*</span>:</label>
      <input type="text" id="name" class="form-control" formControlName="name" />
      <div *ngIf="addPolicyForm.get('name')?.touched">
        <div *ngIf="addPolicyForm.get('name')?.hasError('required')" class="text-danger">
          Policy Scheme Name is required.
        </div>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="description">Scheme Description <span class="text-danger">*</span>:</label>
      <input type="text" id="description" class="form-control" formControlName="description" />
      <div *ngIf="addPolicyForm.get('description')?.touched">
        <div *ngIf="addPolicyForm.get('description')?.hasError('required')" class="text-danger">
          Description is required.
        </div>
      </div>
    </div>


    <div class="mb-3">
      <label for="fileInput" class="form-label">Upload Document<span class="text-danger">*</span></label>
      <input
        type="file"
        id="fileInput"
        class="form-control"
        (change)="onFileSelect($event)"
        accept=".jpg,.jpeg,.png,.gif,.bmp"
        formControlName="imageFile"
      />
      <div *ngIf="fileError" class="text-danger">{{ fileError }}</div>
      <div *ngIf="addPolicyForm.get('imageFile')?.touched">
        <div *ngIf="addPolicyForm.get('imageFile')?.hasError('required')" class="text-danger">
          Document is required.
        </div>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="policyTypeId">Policy Plan <span class="text-danger">*</span>:</label>
      <select id="policyTypeId" class="form-control" formControlName="policyTypeId">
        <option *ngFor="let policyType of policyTypes" [value]="policyType.id">{{ policyType.type }}</option>
      </select>
      <div *ngIf="addPolicyForm.get('policyTypeId')?.touched">
        <div *ngIf="addPolicyForm.get('policyTypeId')?.hasError('required')" class="text-danger">
          Policy Plan Selection is required.
        </div>
      </div>
    </div>

    <div class="form-group mb-3" *ngFor="let field of numericFields">
      <label [for]="field.controlName">
        {{ field.label }} <span class="text-danger">*</span>:
      </label>
      <input
        type="number"
        [id]="field.controlName"
        class="form-control"
        [formControlName]="field.controlName"
      />
      <div *ngIf="addPolicyForm.get(field.controlName)?.touched">
        <div *ngIf="addPolicyForm.get(field.controlName)?.hasError('required')" class="text-danger">
          {{ field.label }} is required.
        </div>
        <div *ngIf="addPolicyForm.get(field.controlName)?.hasError('pattern')" class="text-danger">
          {{ field.label }} should be a positive number.
        </div>
      </div>
    </div>

    <button class="btn btn-primary w-100" type="submit" [disabled]="addPolicyForm.invalid">Add Policy</button>
  </form>
</div>
