
<div class="container mt-5">
  <div *ngIf="agentDetails; else loading">
    <h2>Agent Profile</h2>
    <div class="card mt-3">
      <h4 class="card-title">Details</h4>
      <table class="table table-bordered mt-2">
        <tr><th>First Name</th><td>{{ agentDetails.firstName }}</td></tr>
        <tr><th>Last Name</th><td>{{ agentDetails.lastName }}</td></tr>
        <tr><th>Qualification</th><td>{{ agentDetails.qualification }}</td></tr>
        <tr><th>Email</th><td>{{ agentDetails.email }}</td></tr>
        <tr><th>Mobile No</th><td>{{ agentDetails.mobileNo }}</td></tr>
        <tr><th>Commission Earned</th><td>{{ agentDetails.commissionEarned }}</td></tr>
      </table>
    </div>
  </div>

  <ng-template #loading>
    <div class="text-center">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-template>
</div>
