<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#customerNavbar" aria-controls="customerNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="customerNavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/customer-view">Customer Dashboard</a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="customerNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/customer-view/view-policies">Policies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="claimPolicy()">Claims</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="getTransactionHistory()">Payments</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="viewProfile()">View Profile</a></li>
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="editProfile()">Edit Profile</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Nominee
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="addNominee()">Add Nominee</a></li>
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="viewNominee()">View Nominees</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Query
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="submitQuery()">Submit Query</a></li>
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="viewQueries()">View Queries</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="userActionDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            (click)="$event.preventDefault()"
          >
            User Action
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userActionDropdown">
            <li>
              <a class="dropdown-item" style="cursor: pointer;" routerLink="/change-username">Change Username</a>
            </li>
            <li>
              <a class="dropdown-item" style="cursor: pointer;" routerLink="/change-password">Change Password</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>