<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/admin-view">Admin Dashboard</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#adminNavbar"
      aria-controls="adminNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="adminNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Policies
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item cursor-pointer" (click)="viewPolicies()">View Policies</a></li>
            <li><a class="dropdown-item cursor-pointer" (click)="addPolicy()">Add Policy</a></li>
            <li><a class="dropdown-item cursor-pointer" (click)="viewPolicyTypes()">View Policy Types</a></li>
            <li><a class="dropdown-item cursor-pointer" (click)="addPolicyType()">Add Policy Type</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Agent and Employee
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item cursor-pointer" (click)="viewAllAgents()">View Agents</a></li>
            <li><a class="dropdown-item cursor-pointer" (click)="addAgent()">Add Agent</a></li>
            <li><a class="dropdown-item cursor-pointer" (click)="viewAllEmployee()">View Employees</a></li>
            <li><a class="dropdown-item cursor-pointer" (click)="addEmployee()">Add Employee</a></li>
          </ul> 
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Customer
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="claim-request">Claim request</a></li>
            <li><a class="dropdown-item" routerLink="policy-cancel-request">Policy cancel request</a></li>
            <li><a class="dropdown-item" routerLink="customer-report">Customer report</a></li>
            <li><a class="dropdown-item" routerLink="view-transactions">View all transactions</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            User
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item cursor-pointer" (click)="viewAllUsers()">View Users</a></li>
            <li><a class="dropdown-item cursor-pointer" (click)="viewAllRoles()">View Roles</a></li>
            <li><a class="dropdown-item cursor-pointer" (click)="addRole()">Add Role</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            State and City
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item cursor-pointer" (click)="getStates()">View States</a></li>
            <li><a class="dropdown-item cursor-pointer" (click)="addState()">Add State</a></li>
            <li><a class="dropdown-item cursor-pointer" (click)="getCities()">View Cities</a></li>
            <li><a class="dropdown-item cursor-pointer" (click)="addCity()">Add City</a></li>
          </ul>
        </li>


        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="userActionDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            (click)="$event.preventDefault()"
          >
            User Action
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userActionDropdown">
            <li>
              <a class="dropdown-item cursor-pointer" routerLink="/change-username">Change Username</a>
            </li>
            <li>
              <a class="dropdown-item cursor-pointer" routerLink="/change-password">Change Password</a>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
