<div class="container mt-5">
  <h1 class="text-center mb-4">Add Nominee</h1>

  <form [formGroup]="nomineeForm" (ngSubmit)="submitNominee()">
    <div class="mb-3">
      <label for="nomineeName" class="form-label">
        Nominee Name <span class="text-danger">*</span>
      </label>
      <input
        type="text"
        id="nomineeName"
        class="form-control"
        formControlName="nomineeName"
      />
      <div *ngIf="nomineeForm.get('nomineeName')?.touched && nomineeForm.get('nomineeName')?.invalid" class="text-danger">
        Nominee name is required.
      </div>
    </div>

    <div class="mb-3">
      <div class="form-group">
        <label for="relation">Relation</label>
        <select
          id="relation"
          class="form-control"
          formControlName="nomineeRelation"
        >
          <option value="" disabled selected>Select Relation</option>
          <option *ngFor="let relation of relations" [value]="relation">
            {{ relation }}
          </option>
        </select>
      </div>
      <div *ngIf="nomineeForm.get('nomineeRelation')?.touched && nomineeForm.get('nomineeRelation')?.invalid" class="text-danger">
        Nominee relation is required.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="nomineeForm.invalid  || this.policyAccountId == null">
      Submit
    </button>
  </form>
</div>
