<div class="container">
  <h3>Customer Registration</h3>
  <form [formGroup]="customerForm" (ngSubmit)="registerCustomer()">
    <div class="mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input type="text" id="firstName" class="form-control" formControlName="firstName" required />
    </div>
    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input type="text" id="lastName" class="form-control" formControlName="lastName" required />
    </div>
    <div class="mb-3">
      <label for="emailId" class="form-label">Email</label>
      <input type="email" id="emailId" class="form-control" formControlName="emailId" required />
    </div>
    <div class="mb-3">
      <label for="mobileNo" class="form-label">Mobile Number</label>
      <input type="text" id="mobileNo" class="form-control" formControlName="mobileNo" required />
    </div>
    <div class="mb-3">
      <label for="dateOfBirth" class="form-label">Date of Birth</label>
      <input type="date" id="dateOfBirth" class="form-control" formControlName="dateOfBirth" [attr.max]="MaxDate" required />
    </div>
    <div class="mb-3">
      <label for="stateId" class="form-label">State</label>
      <select id="stateId" class="form-control" formControlName="stateId" required>

        <option *ngFor="let state of states" [value]="state.stateId">{{ state.stateName }}</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="cityId" class="form-label">City</label>
      <select id="cityId" class="form-control" formControlName="cityId" required>
        <option *ngFor="let city of cities" [value]="city.cityId">{{ city.cityName }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div>
