<div class="container py-5">
  <h2 class="text-center mb-4">Add Agent</h2>
  <form [formGroup]="addAgentForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-3">
      <label for="firstName">First Name <span class="text-danger">*</span>:</label>
      <input type="text" id="firstName" class="form-control" formControlName="firstName" />
      <div *ngIf="addAgentForm.get('firstName')?.touched && addAgentForm.get('firstName')?.invalid" class="text-danger">
        <div *ngIf="addAgentForm.get('firstName')?.errors?.['required']">First name is required.</div>
        <div *ngIf="addAgentForm.get('firstName')?.errors?.['minlength']">
          First name must be at least 2 characters long.
        </div>
        <div *ngIf="addAgentForm.get('firstName')?.errors?.['maxlength']">
          First name cannot exceed 50 characters.
        </div>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="lastName">Last Name <span class="text-danger">*</span>:</label>
      <input type="text" id="lastName" class="form-control" formControlName="lastName" />
      <div *ngIf="addAgentForm.get('lastName')?.touched && addAgentForm.get('lastName')?.invalid" class="text-danger">
        <div *ngIf="addAgentForm.get('lastName')?.errors?.['required']">Last name is required.</div>
        <div *ngIf="addAgentForm.get('lastName')?.errors?.['minlength']">
          Last name must be at least 2 characters long.
        </div>
        <div *ngIf="addAgentForm.get('lastName')?.errors?.['maxlength']">
          Last name cannot exceed 50 characters.
        </div>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="qualification">Qualification <span class="text-danger">*</span>:</label>
      <input type="text" id="qualification" class="form-control" formControlName="qualification" />
      <div *ngIf="addAgentForm.get('qualification')?.touched && addAgentForm.get('qualification')?.invalid" class="text-danger">
        <div *ngIf="addAgentForm.get('qualification')?.errors?.['required']">Qualification is required.</div>
        <div *ngIf="addAgentForm.get('qualification')?.errors?.['minlength']">
          Qualification must be at least 3 characters long.
        </div>
        <div *ngIf="addAgentForm.get('qualification')?.errors?.['maxlength']">
          Qualification cannot exceed 100 characters.
        </div>
        <div *ngIf="addAgentForm.get('qualification')?.hasError('pattern')" class="text-danger">
          Qualification cannot contain only numbers and must include at least one letter.
        </div>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="email">Email <span class="text-danger">*</span>:</label>
      <input type="email" id="email" class="form-control" formControlName="email" />
      <div *ngIf="addAgentForm.get('email')?.touched && addAgentForm.get('email')?.invalid" class="text-danger">
        <div *ngIf="addAgentForm.get('email')?.errors?.['required']">Email is required.</div>
        <div *ngIf="addAgentForm.get('email')?.errors?.['pattern']">Enter a valid email address (e.g., name&commat;example.com).</div>
      </div>
    </div>
    

    <div class="form-group mb-3">
      <label for="mobileNo">Mobile Number <span class="text-danger">*</span>:</label>
      <input type="text" id="mobileNo" class="form-control" formControlName="mobileNo" />
      <div *ngIf="addAgentForm.get('mobileNo')?.touched && addAgentForm.get('mobileNo')?.invalid" class="text-danger">
        <div *ngIf="addAgentForm.get('mobileNo')?.errors?.['required']">Mobile number is required.</div>
        <div *ngIf="addAgentForm.get('mobileNo')?.errors?.['pattern']">
          Mobile number must be 10 digits long and only contain numbers.
        </div>
      </div>
    </div>

    <button class="btn btn-primary w-100" type="submit" [disabled]="addAgentForm.invalid  || inProcess">Add Agent</button>
  </form>
</div>
