<div class="container">
    <h2>Agents</h2>
    <table *ngIf="agents.length > 0" class="table table-striped mt-3">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            
            <th>Report</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let agent of agents">
            <td>{{ agent.firstName }}</td>
            <td>{{ agent.lastName }}</td>
            <td>
              <button (click)="getReport(agent.agentId)" class="btn btn-primary">Get Report</button>
            </td>
          </tr>
        </tbody>
    </table>
</div>
  